@charset "utf-8";
/* CSS Document */

body {
	background-color: #E6E7BE;
	font-family: "Comic Sans MS", Calibri, Arial, "Times New Roman";
}
form {
	margin: auto;
	width: 45%;
	background-color: #DCE0B5;
	border: 2px solid #9AAD68;
}
.button {
	margin:auto;
	width: 250px;
	height: auto;
	display: block;
	font-size: 1.15em;
}


h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
label {
	margin-left:7px;
	display:inline-block;
	width:100px;
}
.centreMe
{
	background-color: #D8E8B8;
	width:95%;
	margin:auto;
}
.compulsory
{
	color:red;
	vertical-align: super;
	font-size:0.75em;
}